body{
    margin: 0;
    padding: 0;
    font-size: 18px; 
}


/* trabajo en la seccion hero */
.hero{
    background-image: url(images/bg-header-desktop.png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8%;
}
.hero h1{
    color: hsl(210, 10%, 33%);
    font-family: 'Bai Jamjuree', sans-serif;
    margin-top: 50px;
    margin-bottom: 0px;
    width: 55%;
    text-align: center;
    font-size: 40px;
}
.hero p{
    color: hsl(201, 11%, 66%);
    font-family: 'Bai Jamjuree', sans-serif;
}
.contenedor-p{
    text-align: center;
    width: 55%;
}
.botones{
    text-align: center;
    width: 55%;
}
button{
    font-family: 'Bai Jamjuree', sans-serif;
    margin-top: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 2em;
    border: none;
    cursor: pointer;
}
.bot1{
    font-size: 15px;
    color: white;
    background-color: #27BBA4;
    border-bottom: 3px outset #27BBA4;
    margin-right: 5px;
    transition: .5s;
}
.bot1:hover{
    background-color: #5CCDBB;
}
.bot2{
    font-size: 15px;
    color: white;
    background-color: #6174FF;
    border-bottom: 3px outset #6174FF;
    margin-left: 5px;
    transition: .5s;
}
.bot2:hover{
    background-color: #8A96FE;
}


/* trabajo en la seccion track-of */
.track-of{
    padding-bottom: 8%;
}
.track-of h1{
    text-align: center;
    color: hsl(210, 10%, 33%);
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 30px;
    margin-bottom: 0px;
}
.track-of p{
    color: hsl(201, 11%, 66%);
    font-family: 'Bai Jamjuree', sans-serif;
}
.contenedor-p2{
    margin: 0 auto;
    text-align: center;
    width: 54%;
}
.contenedor-img-texto{
    margin-top: 80px;
    display: flex;
    align-items: center;
}
.contendor-img{
    margin-left: -75px;
}
.img-compu{
 width: 752px;
 height: 572px;
 transition: .5s;
}
.img-compu:hover{
    width: 802px;
    height: 622px;
}
.contenedor-texto{
    display: flex;
    flex-direction: column;
    margin-left: 85px;
    margin-right: 185px;
}
.texto{
    margin-bottom: 25px;
}
.texto h3{
    color: hsl(210, 10%, 33%);
    font-family: 'Bai Jamjuree', sans-serif;
    margin-bottom: 0;
}
.texto p{
    margin-top: 10px;
    color: hsl(201, 11%, 66%);
    font-family: 'Bai Jamjuree', sans-serif;
}
.img-tablet{
    width: 905px;
    height: 575px;
    transition: .5s;
}
.img-tablet:hover{
    width: 955px;
    height: 625px;
}


/* trabajo en la seccion acess-clipbard */
.access-clipboard{
    padding-bottom: 8%;
}
.access-clipboard h1{
    text-align: center;
    color: hsl(210, 10%, 33%);
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 30px;
    margin-bottom: 0px;
}
.access-clipboard p{
    color: hsl(201, 11%, 66%);
    font-family: 'Bai Jamjuree', sans-serif;
}
.devices{
    margin-top: 50px;
 /* preguntar por que la imagen tiene ese tamaño, como arreglarlo */
}
.contenedor-tablet{
    display: flex;
    justify-content: center;
}



/* trabajo en la seccion your-workflow */
.your-workflow{
    padding-bottom: 8%;
}
.your-workflow h1{
    text-align: center;
    color: hsl(210, 10%, 33%);
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 30px;
    margin-bottom: 0px;
}
.your-workflow p{
    color: hsl(201, 11%, 66%);
    font-family: 'Bai Jamjuree', sans-serif;
}
.contenedor-p3{
    margin: 0 auto;
    text-align: center;
    width: 54%;
}
.contendor-tools{
    margin-top: 60px;
    display: flex;
    justify-content: center;
}
.tool{
    width: 30%;
    text-align: center;
}
.tool h3{
    color: hsl(210, 10%, 33%);
    font-family: 'Bai Jamjuree', sans-serif;
    margin-bottom: 0;
}
.logos{
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
  /* porque se estiran las imagenes */
}



/* trabajo en la seccion clipboard-for */
.clipboard-for{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 8%;
}
.clipboard-for h1{
    text-align: center;
    color: hsl(210, 10%, 33%);
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 30px;
    margin-bottom: 0px;
}
.clipboard-for p{
    color: hsl(201, 11%, 66%);
    font-family: 'Bai Jamjuree', sans-serif;
}



/* trabajo en el footer */
footer{
    display: flex;
    justify-content: space-between;
    background-color: #F5F6F8;
}
.logo{
    transform: scale(.5);
    margin-left: 70px;
}
.renglon1{
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin-right: 170px;
    color: hsl(201, 11%, 66%);
    font-family: 'Bai Jamjuree', sans-serif;
}
.renglon1 p{
    transition: .5s;
    cursor: pointer;
}
.renglon1 p:hover{
    color: #27BAA6;
}
.renglon2{
    display: flex;
    justify-content: space-between;
    width: 220px;
    color: hsl(201, 11%, 66%);
    font-family: 'Bai Jamjuree', sans-serif;
}
.renglon2 p{
    transition: .5s;
    cursor: pointer;
}
.renglon2 p:hover{
    color: #27BAA6;
}
.contenedor-redes{
    margin-right: 110px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.facebook path{
    transition: .5s;
}
.facebook path:hover{
    fill: #27BAA6;
}
.twitter path{
    transition: .5s;
}
.twitter path:hover{
    fill: #27BAA6;
}
.instagram path{
  transition: .5s;
}
.instagram path:hover{
    fill: #27BAA6;
}
